
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Centiment ~ P2P Lending ~ Every cents count</title>

  <meta name="description" content="">
  <meta name="author" content="CC">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.css" /> 

  <!-- Calendar Styling  -->
  <link rel="stylesheet" href="/assets/css/plugins/calendar/calendar.css" />
    
  <!-- Fonts  -->
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,300' rel='stylesheet' type='text/css'>
    
  <!-- Base Styling  -->
  <link rel="stylesheet" href="/assets/css/app/app.v1.css" />


  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/aes.js"/> -->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
