<aside class="left-panel">

    <div class="user text-center">
        <img src="/assets/images/logo.png" alt="Chairman Connect" style="width:118px;height:118px;border-style: none">
        <h4 class="user-name" style=" font-size: 12px;">Welcome  </h4>
    </div>

    <nav class="navigation">
        <ul class="list-unstyled">
            
            <li class="has-submenu"><a href="/timeline"><i class="fa fa-cog"></i> <span class="nav-label">Timeline</span></a>
            </li>
            
            <li class="has-submenu"><a href="/about"><i class="fa fa-cog"></i> <span class="nav-label">About</span></a>
            </li>
            
            <li class="has-submenu"><a href="/customer"><i class="fa fa-comment-o"></i> <span class="nav-label">Customers</span></a>
            </li>
            
            <li class="has-submenu"><a href="/lender"><i class="fa fa-users"></i> <span class="nav-label">Lender</span></a>
            </li>
            
            <!-- <li class="has-submenu"><a href="/auditors"><i class="fa fa-users"></i> <span class="nav-label">Auditor</span></a>
            </li>
            <li class="has-submenu"><a href="/loand"><i class="fa fa-cogs"></i> <span class="nav-label">My Loan</span></a>
            </li> -->
        </ul>
    </nav>
</aside>