<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head.html %>

      

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   
</head>

<body data-ng-app>
    <!-- Aside starts-->
    <% include partials/sidebar.html %>
        <!-- Aside Ends-->
        <section class="content">
            <!-- Header start-->
            <% include partials/header.html %>
                <!-- Header Ends -->
                <!-- Wrapper start -->
                <div class="warper container-fluid">
                    <div class="page-header">
                        <h1>Dashboard <small></small></h1></div>


                    <div class="row">
                        <img src="/assets/images/logo2.png" alt="Smiley face" >
                        <h1><Label style="text-align: right;float: right;left-margin:100px">where every cents counts </label><h1>


                     
                    </div> 

                </div>
                <!-- Warper Ends Here (working area) -->
                <!-- <footer class="container-fluid footer">
                    
                </footer> -->
        </section>
        <!-- Content Block Ends Here (right box)-->
        <!-- Footer JS Files start-->
        <% include partials/footer.html %>
            <!-- Footer JS Files end-->
</body>

</html>